body {
}

   .auto-style1 {
            width: 100%;
            height: 531px;
        }
        .auto-style3 {
            height: 232px;
        }
        .auto-style4 {
            height: 74px;
            color: #FF9966;
            font-size: x-large;
        }
        .auto-style7 {
            width: 263px;
        }
        .auto-style8 {
            width: 263px;
        }
        .auto-style9 {
            font-size: xx-large;
        }
        .auto-style10 {
            height: 24px;
            background-color: #5091CC;
        }
        .auto-style12 {
            height: 24px;
            background-color: #5091CC;
        }
        .auto-style17 {
            height: 21px;
            background-color: #FF6600;
        }
        .auto-style19 {
            height: 232px;
            width: 263px;
        }
        .auto-style20 {
            height: 80px;
        }
        .auto-style23 {
            background-color: #5596D0;
        }
        .auto-style24 {
            height: 49px;
            background-color: #B8DBFF;
        }
        .auto-style25 {
            width: 263px;
            height: 49px;
            background-color: #B8DBFF;
        }
        .auto-style27 {
            width: 12px;
        }
        .auto-style29 {
            color: #5596D0;
        }
        .auto-style30 {
            text-decoration: none;
        }
        .auto-style31 {
            color: #FF9966;
        }
